<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/ApplicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>webApp.root</param-value>
    </context-param>

    <!--session超时失效的时间，单位为分钟-->
    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>
    <context-param>
        <param-name>logbackConfigLocation</param-name>
        <param-value>classpath:log/logback.xml</param-value>
    </context-param>

    <listener>
        <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>



    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

  <!--  <filter>
        <filter-name>xssFilter</filter-name>
        <filter-class>com.focussend.common.filter.XSSFilter</filter-class>
        <init-param>
            <param-name>exclude</param-name>
            <param-value>/;/static_resources/*;/user/getUserKey</param-value>
            &lt;!&ndash;;/styles/*;/images/*&ndash;&gt;
        </init-param>
    </filter>-->
   <!-- <filter-mapping>
        <filter-name>xssFilter</filter-name>
        <url-pattern>/*</url-pattern>
        &lt;!&ndash; 直接从客户端过来的请求以及通过forward过来的请求都要经过该过滤器 &ndash;&gt;
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>-->


    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/spring/springmvc-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

<!--    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->



    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <!-- 全局错误处理页面配置 -->
<!--    <error-page>
        &lt;!&ndash;服务器发生错误时&ndash;&gt;
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/include/error_page.jsp</location>
    </error-page>
    <error-page>
        &lt;!&ndash;资源找不到&ndash;&gt;
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/include/error_page.jsp</location>
    </error-page>-->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>